/*
* @Author: xiaofan
* @Date:   2018-03-03 11:05:37
* @Last Modified by:   xiaofan
* @Last Modified time: 2018-03-03 11:31:20
*/

/* 侧边导航条 */
.nav-side{
   float: left;
   width: 130px;
   min-height: 100px;
}
.nav-side .nav-item{
   line-height: 25px;
   font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}  
/* 侧边内容 */
.content.with-nav{
    float: left;
    width: 950px;
}