/*
* @Author: xiaofan
* @Date:   2018-03-02 20:35:33
* @Last Modified by:   xiaofan
* @Last Modified time: 2018-03-02 20:44:59
*/
.footer{
  padding-bottom: 10px;
}
.footer .links{
  text-align: center;
  color: #666;
  line-height: 30px;
}
.footer .links .link{
  padding: 0 10px;
}
.footer .copyright{
  text-align: center;
  color: #666;
  line-height: 30px;
}
